    <div class="jumbotron text-center">
        <h1>RasPi GPIO LEDs</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-6">
                <div class="toggle" style="text-align:center;padding-top:10px;">
                    <pre style="padding-right:18px">On/Off | Blink</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-3 text-center" style="text-align:center;padding-top:8px;background:red"><pre>RED LED</pre></div>
            <div class="col-sm-3">
                <div class="toggle" style="text-align:center;padding-top:10px;">

                    <input id="red" type="checkbox" class="mybox" checked="checked" >
                    <input id="red-blink" type="checkbox" class="mybox" checked="checked" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-3 text-center" style="text-align:center;padding-top:8px;background:yellow"><pre>YELLOW LED</pre></div>
            <div class="col-sm-3">
                <div class="toggle" style="text-align:center; padding-top:10px;">
                    <input id="yellow" type="checkbox" class="mybox" checked="checked" >
                    <input id="yellow-blink" type="checkbox" class="mybox" checked="checked" >
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-3 text-center" style="text-align:center;padding-top:8px;background:green"><pre>GREEN LED</pre></div>
            <div class="col-sm-3">
                <div class="toggle" style="text-align:center;padding-top:10px;">
                    <input id="green" type="checkbox" class="mybox" checked="checked" >
                    <input id="green-blink" type="checkbox" class="mybox" checked="checked" >
                </div>
            </div>
        </div>
    </div>
